<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html SYSTEM "src/test/resources/dtd/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:concordion="http://www.concordion.org/2007/concordion">
<head>
<title>[OVERVIEW TITLE]</title>
<link href="../../concordion.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>&Uuml;bersicht [TITLE]</h1>
<p>[DESCRIPTION]</p>

<h2>[SUBTITLE]</h2>
<ul>
    <li><a href="">[LINKS TO CONTEXTPAGES]</a></li>
<li>...</li>
</ul>
    <p><img alt="OVERVIEW IMAGE" title="OVERVIEW IMAGE" src="OVERVIEW IMAGE" /></p>

<h2>Modelle und Spezifikationsdokumente [TITLE]</h2>
    <p><a href="">[IMAGES OR LINKS TO SPECIFICATIONDOCUMENTS]</a></p>
    
<div class="openquestions">
     <h2>Offene Fragen</h2>
        <p>[DESCRIPTION: PARAGRAPH, LIST OR TABLE]</p> 
      
    </div>
    
</body>
</html>
