<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html SYSTEM "src/test/resources/dtd/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>[CONTEXT TITLE]</title>

    <link href="../../../concordion.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>[TITLE]</h1>

<p>[DESCRIPTION]</p>

<h2>User Stories</h2>
   <ul>
   <li><a href="">[LINK TO USER STORY 1]</a></li>
   <li><a href="">[LINK TO USER STORY 2]</a></li>
   </ul>
   
<h2>[KONTEXTDIAGRAMM]</h2>
      <p><img alt="CONTEXTDIAGRAM" title="CONTEXTDIAGRAM" src="CONTEXTDIAGRAM.jpg" /></p>
<p><a href="x.mdzip">[LINK TO FILE.mdzip]</a></p>



<h2>[SUBTITLE]</h2>
    
<p>[DESCRIPTION]</p>
      
<h2>Bemerkungen</h2>
<p>[DESCRIPTION: PARAGRAPH, LIST OR TABLE]</p>

<div class="metrics">  
<h2>Metriken</h2>
    <p>[METRICS]</p>
</div>


    <div class="openquestions">
     <h2>Offene Fragen</h2>
        <p>[DESCRIPTION: PARAGRAPH, LIST OR TABLE]</p> 
      
    </div>
  
</body>
</html>
